[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.1"
djangorestframework = "==3.14.0"
mysqlclient = "==2.1.1"
celery = "*"
django-anymail = "*"
redis = "*"
django-redis = "*"
elasticsearch = "*"
django-elasticsearch-dsl = "*"

[dev-packages]

[requires]
python_version = "3.10"
